* {
  box-sizing: border-box;
}
body {
  font-family: verdana;
  font-size: 16px;
  background: #3f94ff;
}

.container {
  margin: 20px auto 20px auto;
  max-width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 2px 15px 15px;
}
.text-center {
  text-align: center;
}
